/* --	estilo bodoy	-- */
body {
	background: gray;
	padding: 20px;
	border-radius: 0.5pc;
}

/* --	estilo logo	-- */
.logo {
	max-width: 25%;
	padding-left: 20px;
}

/* --	estilos redes sociales	-- */
.rsocial {
	font-size: 30px;
	width: 40%;
}

/* --	menu superior	-- */
.menu {
	background-color: #e3f2fd;
}

.prueba1 {
	text-align: center;
}

/* --	Espaciado	-- */
.espacio {
	padding: 10px;
	background: gray;
}

/* --		-- */

@media (max-width: 768px) {
/*	.logo {
		width: 50%;
		display: block;
		margin-left: auto;
		margin-right: auto;
}*/

	.rsocial {
		margin-top: 1%;
		font-size: 25px;
		text-align: center;
		float: none;
	}

	.menu a {
		background-color: #e3f2fd;
		width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}

/* --	Estilo del contenido	-- */
.articulo {
	background-color: white;
}

/* --	Estilo Imagenes	-- */
div img {
	width: 75%;
	height: 75%;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: auto;
}

/* --	Estilos en parrafos	-- */
p {
	font-size: 12px;
	text-align: justify;
	
}

/* --		-- */
.fila {
	width: 30%;
}

.comentario textarea {
	width: 55%
}


/* --		-- */
.icono {
	width: 5%;
}




/* --		-- */


/* --		-- */
/* --		-- */
/* --		-- */
/* --		-- */
/* --		-- */
/* --		-- */
