/* -- Estilo de margen para el contenido y fondo -- */
body {
	background-image: url(../img/valle.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	/*text-align: center;*/
	background-attachment: fixed
}

.margen {
	padding-top: 1rem;
	padding-right: 5rem;
	padding-left: 2rem;
}


/* -- Estilo en menu de navegación -- */
.navegacion-menu {
	text-align: right;
}

.navegacion-menu2 {
	padding-top: 2rem ;
	padding-left: 20px;
	text-align: left;
}

.subtitulo {
	font-size: 40px;
	font-family: Brush Script MT, Brush Script Std, cursive;
}


/* -- Estilo de margen para las imagenes -- */
.margen-rsocial {
	text-align: center;
	margin-top: 1rem;
}

.margen-imagenes {
	text-align: center;
}

.margen-imagenes img {
	margin-top: 1rem;
}

.imagen-principal {
	width: 100%;
	height: 100%;
}

/* -- Titulos y articulo -- */
.titulo1 {
	font-size: 35px;
}

.articulo {
	text-align: justify;
	font-size: 12px;
}

.articulo img {
	width: 50%;
	margin-top: 1rem;
}

.margen-articulo {
	padding-left: 1rem;
	padding-right: 1rem;
}

.perfil {
	font-size: 40px;
	font-family: Brush Script MT, Brush Script Std, cursive;
}


/* -- Formulario -- */
.formulario {
	background-color: #c8e6c9;
	margin-bottom: 1rem;
}


/* -- Responsive -- */
@media (max-width: 600px) {
	/* -- Dimensiones del LOGO -- */
	.logo {
		width: 100%;
	}

	/* -- Estilo en menu de navegación -- */
	.navegacion-menu {
		text-align: left;
	}

	.subtitulo {
		font-size: 30px;
		font-family: Brush Script MT, Brush Script Std, cursive;
		color: white ;
	}
	
	/* -- Titulos y articulo -- */
	.titulo1 {
		font-size: 25px;
	}

	.articulo img {
		width: 100%;
	}

	.perfil {
		font-size: 30px;
		font-family: Brush Script MT, Brush Script Std, cursive;
		color: black ;
	}
}
